<ul>
	<li><%= link_to "Home", root_url %></li>
	<li><%= link_to "Menu", menu_items_url %></li>
	<li><%= link_to "Sleeping", '#' %></li>
	<li><%= link_to "Where is this place", directions_url %></li>
</ul>
