<h1>Kris &amp; Tom are getting totally married</h1>

<p>And if you're reading this then in all likelihood you've been invited.</p>

<p>If you can make it, pop your name in below!</p>

<%= form_for :guest, :url => rsvp_guests_url, :html => {:class => 'rsvp guestlist', :id => "rsvp"} do | f | %>
	<p class="error"></p>
	<p><%= f.text_field :name, :class => ['name'] %>&nbsp;<%= f.submit "I'm coming!",  { :id => "rsvpConfirm" } %></p>
<% end %>