<!DOCTYPE html>
<html>
<head>
  <title>WeddingMenu</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="primary-nav">
This is nav
</div>
<%= yield %>

</body>
</html>
